<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>">
      FirstShop
    </a>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="<%= products_path %>"> Products </a>
      </li>
      <li class="nav-item">
        <ol id="ch">
          <label class="switch">
            <input id="myid" onclick="blackAndWhite()" type="checkbox">
            <span class="slider round"></span>
          </label>
        </ol>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cookiesjs/1.4.2/cookies.min.js"></script>
        <script type="text/javascript">
            (function() {
                'use strict';
                var cn = 'CheckBoxes', set = {}, cook = cookies(cn) || {};
                cookies.expires = 10 * 24 * 3600;

                function saveChecked() {
                    cook[this.id] = this.checked;
                    set[cn] = cook;

                    // Записываем в кукис текущее значение checked
                    cookies(set);
                }

                document.querySelectorAll('#ch input[type=checkbox]').forEach(function(i) {
                    i.onchange = saveChecked;
                    // Устанавливаем значение из кукиса
                    i.checked = !!cook[i.id];
                })

            })();
        </script>
      </li>
    </ul>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--    <div class="collapse navbar-collapse" id="navbarText">-->
    <!--      <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
    <!--        <li class="nav-item">-->
    <!--          <a class="nav-link" href="<%#= product_path %>"><%#= t("navbar.events") %></a>-->
    <!--        </li>-->
    <!--      </ul>-->
    <!--      <div class="dropdown language" style="padding:5px 10px 0px 4px">-->
    <!--        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuLocale" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
    <%#= t(get_locale).upcase %>
    <!--        </button>-->
    <!--        <div class="dropdown-menu" aria-labelledby="dropdownMenuLocale">-->
    <%# I18n.available_locales.each do |locale| %>
    <%#= link_to(t(locale).upcase, request.params.merge( locale: locale ), class: "dropdown-item") if locale.to_s != get_locale.to_s %>
    <%# end %>
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
  </div>
</nav>